#all{
    width:1350px;
    margin:0 auto;
}
#chaleng{
    background-image:url(../11.png);
    width:1350px;
    height:600px;
}
#I1{
    margin-top:210px;
    margin-left:120px;
}

#I2{
    margin-top:210px;
    margin-left:230px;
}
